.input-panel {
    display: flex;

    > :global(.MuiGrid-root) {

        > :global(.MuiStack-root) {

            > * {
                display: flex;
            }
        }

    }

    .mode-buttons {
        display: flex;
        justify-content: start;
    }
}
