@import "../../styles/mixins.styl";

.theme-picker {
    position: relative;
    
    .select {
        align-items: center;
        display: flex;
        capitalize();
    }

    .menu-item {
        capitalize();
    }

    .icon {
        padding-right: .5rem;
    }
}
