@import "../../styles/mixins.styl";

.app-bar {
    padding: 0;

    .wrapper {
        padding: 0 12px;

        .logo {
            margin-right: 1em;
            width: 2em;
            height: 2em;
        }

        .title {
            font-family: "Baloo";
            font-size: 1.8rem;
            line-height: 1.8;
        }

        .language-picker {
            margin-right: .5em;
        }

        .icon {
            margin-left: 0;
            padding: 0;

            svg {
                width: 1.4em;
                height: 1.4em;
            }

            &.help {
                opacity: .15;
                vendor("transition", opacity .25s ease-in-out);
                
                &:hover {
                    opacity: .35;
                }

                &.active {
                    opacity: 1;
                }
            }
        }
    }
}
