.app-bar {
    padding: 0;

    .wrapper {
        padding: 0 12px;

        .logo {
            margin-right: 1em;
            width: 2em;
            height: 2em;
        }

        .title {
            font-family: "Baloo";
            font-size: 1.8rem;
            line-height: 1.8;
        }

        .icon {
            margin-left: 0;

            svg {
                width: 1.4em;
                height: 1.4em;
            }
        }
    }
}
