@import "../../../styles/mixins.styl"

.image-modal {
    width auto;

    :global(.MuiDialog-paper) {
        height 100%;
    }

    .dialog-title {
        font-size 2em;
        font-weight bold;
    }

    .dialog-content {
        display inline-flex;

        .image-placeholder {
            width 100%;
            height 100%;
        }

        .image {
            height 100%;
        }
    }

    .modal-actions {
        justify-content center;
    }
}
