@import "../../../styles/mixins.styl"

.log-menu {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    .log-button {
        padding: 2px;    
    }

    .log-menu-list {
        
        .log-entry {
        
            .log-entry-icon {
                min-width: 0;
                padding-right: 12px;
            }
        }
    }
}
