{
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 4,
  "singleQuote": false,
  "printWidth": 120,
  "bracketSpacing": false,
  "arrowParens": "always",
  "tslintIntegration": true,
  "eslintIntegration": true,
  "overrides": [
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
