@import "../../styles/mixins.styl"
@import "../../styles/fonts.styl"

.settings {
    flex-grow: 1;
    
    .container {
        height: 100%;
        flex-direction: column;
    
        .content {
            flex-grow: 1;
            align-content: flex-start;
            overflow: overlay;
            max-height: 776px;

            .group {
                padding: 1rem;
                align-content: flex-start;
            }

            .column {
                display: flex;
                align-self: stretch;
                justify-content: center;
            }

            .ytdlp-version {
                align-items: center;
            }
        }

        .footer {
            flex-grow: 0;
            justify-content: center;
        }

        .select {
            align-items: center;
            display: flex;
            capitalize();
        }

        .menu-item {
            capitalize();
        }
    }
}

