@font-face {
  font-family: "Baloo"
  font-style: normal
  font-weight: 400
  src: local("Baloo Regular"), local("Baloo-Regular"), url(../resources/fonts/Baloo-Regular.ttf) format("ttf")
}

@font-face {
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    src: local("Lato Regular"), local("Lato-Regular"), url(../resources/fonts/Lato-Regular.ttf) format("ttf")
}

@font-face {
    font-family: "Lato"
    font-style: normal
    font-weight: 700
    src: local("Lato Bold"), local("Lato-Bold"), url(../resources/fonts/Lato-Bold.ttf) format("ttf")
}

@font-face {
    font-family: "Lato"
    font-style: normal
    font-weight: 900
    src: local("Lato Black"), local("Lato-Black"), url(../resources/fonts/Lato-Black.ttf) format("ttf")
}

@font-face {
    font-family: "Lato"
    font-style: normal;
    font-weight: 200
    src: local("Lato Light"), local("Lato-Light"), url(../resources/fonts/Lato-Light.ttf) format("ttf")
}

@font-face {
    font-family: "Lato"
    font-style: normal;
    font-weight: 100
    src: local("Lato Thin"), local("Lato-Thin"), url(../resources/fonts/Lato-Thin.ttf) format("ttf")
}

@font-face {
    font-family: "Lato"
    font-style: italic;
    font-weight: 400
    src: local("Lato Italic"), local("Lato-Italic"), url(../resources/fonts/Lato-Italic.ttf) format("ttf")
}

// @font-face {
//     font-family: "Material Icons";
//     font-style: normal;
//     font-weight: 400;
//     src: url(../resources/fonts/Material-Icons.woff2) format("woff2");
// }

// .material-icons {
//     font-family: "Material Icons";
//     font-weight: normal;
//     font-style: normal;
//     font-size: 24px;
//     line-height: 1;
//     letter-spacing: normal;
//     text-transform: none;
//     display: inline-block;
//     white-space: nowrap;
//     word-wrap: normal;
//     direction: ltr;
//     -webkit-font-feature-settings: "liga";
//     -webkit-font-smoothing: antialiased;
// } 