.mode-dropdown

  .select
    width: 100%

    .menu-item
      padding: 0 10px
      display: flex
      align-items: center
      min-height: 55px

      .name
        font-size: .9eem

      .description
        font-size: .8em
        opacity: .8
