@import "../../../styles/mixins.styl"

.input-mode-picker {
    .button {
        padding: 6px 0px 6px 6px;

        .icon {
            font-size: 1.7rem;
        }
    }

    .popper {
        z-index: 99;
    }

    .menu-item {
        column-gap: 5px;
        align-items: center;
        display: flex;
    }
}
