@import "../../../styles/mixins.styl"

.cut-modal {
    .content {
        justify-content: flex-start;

        .add-button {
            min-width: 0;
        }

        .delete-button {
            min-width: 0;
        }

        .entry-content {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}
