@import "../../styles/mixins.styl"
@import "../../styles/fonts.styl"

.development
  display: flex
  flex-direction: column
  flex-grow: 1
  justify-content: space-between

  .form
    padding: 1rem

    .root-column
      display: block
      flex-grow: 1

  .footer
    display: flex
    justify-content: center
    align-items: center
    padding: 1rem

