.number-field
    
  .error
    font-size: .9em
    bottom: .3em
    width: 100%
    position: absolute
    text-align: center

  input[type=number]::-webkit-inner-spin-button
  input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0
