@import "../../../styles/mixins.styl"

.failures-modal {
    width auto;

    :global(.MuiDialog-paper) {
        height auto;
    }

    .dialog-title {
        font-size 2em;
        font-weight bold;
    }

    .dialog-content {
        display inline-flex;
    }

    .modal-actions {
        justify-content center;
    }
}
